/* Header Styles */
.header,
.header-container {
    background-color: #E3E9FF;
}

.header-container {
    display: flex;
    justify-content: space-around;/* Aligns the items at the ends of the header */
    align-items: center; /* Centers items vertically */
    padding: 0 20px; /* Adds padding for better spacing */
}

.logo {
    padding: 22px 0;
}

.logo__text {
    font-weight: 400;
    font-size: 64px;
    font-family: "Darker Grotesque";
}

.nav__item a{
    font-family: Inter;
};


.navigation {
    padding: 0; /* Reduces padding to better align with other elements */
}

.nav {
    display: flex;
    gap: 20px; /* Adjusts gap between navigation links */
}

.nav__link {
    text-decoration: none;
    color: #000000;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}

.nav__link:hover {
    text-decoration: underline;
    
}

.autorise {
    padding: 0; /* Ensures alignment with other header elements */
}

.nav__circled {
    border: 1px solid #000000;
    border-radius: 100px;
    padding: 12px 24px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}

/* Responsive Adjustments */
@media (max-width: 600px) {
    .header {
        display: flex;
        justify-content: center;
    }
    .header-container {
        flex-direction: column;
        align-items: center; /* Center-aligns elements in mobile view */
    }
    .nav {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        gap: 20px;
    }
}

@media (min-width: 1200px) {
    .nav__link {
        font-size: 18px;
    }
    .nav {
        gap: 40px;
    }
    
}


.after-header {
    background-color: #E3E9FF;
    height: 20vh;
}

.wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.sumdpu {
    width: 250px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.title-text {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
}

.description-text {
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
}
