<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            User Login
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/login_form.css' %}">
    {% endblock %}
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <header class="header">
        <div class="header-container">
            <div class="logo">
                <p class="logo__text">2+2=5</p>
            </div>
            <div class="navigation">
                <ul class="nav">
                    <li class="nav__item">
                        <a href="{% url 'homepage' %}" class="nav__link">Головна</a>
                    </li>
                    <li class="nav__item">
                        <a href="{% url 'lectures:lectures_list' %}" class="nav__link"><pre>Навчальні матеріали</pre></a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav__item">
                        <a href="{% url 'tests:tests_list' %}" class="nav__link">Тести</a>
                    </li>
                    {% endif %}
                    <li class="nav__item">
                        <a href="#footer" class="nav__link">Контакти</a>
                    </li>
                </ul>
            </div>
            {% if user.is_authenticated %}
                <form class="logout" action="{% url 'users:logout' %}" method="post" id="logout-form">
                    {% csrf_token %}
                    <a href="#" onclick="document.getElementById('logout-form').submit();" class="nav__link nav__circled">Вихід</a>
                </form>
            {% else %}
                <div class="autorise">
                    <a href="{% url 'users:login' %}" class="nav__link nav__circled">Вхід</a>
                </div>
            {% endif %}
        </div>
    </header>
    <main>

    {% block content %}
        <div class="login-container">
            <h1>Вхід</h1>
            <form class="form-with-validation" action="/users/login/" method="post">
                {% csrf_token %} 
                
                <!-- Render each form field explicitly -->
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <ul class="errorlist">
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% endfor %}

                <button class="form-submit">Submit</button>
            </form>
        </div>
    {% endblock %}
    </main>
</body>
</html>